<br>
<div class="container color-light top-color-strip">
  <h3>Please register below</h3>
</div>
<div class="container color-dark">
  <div class="col entries">
    <form (ngSubmit)="onRegister()" [formGroup]="registerData">
    <!-- <h4>First Name:</h4> -->
    <!-- <input autofocus="autofocus" autocomplete="off" type="text" class="txt" name="item" [(ngModel)]="first_name"> -->
    <mat-form-field>
      <input matInput placeholder="First Name" autofocus="autofocus" autocomplete="off" formControlName="first_name">
      <mat-error *ngIf="registerData.get('first_name').hasError('required')">First Name is <strong>required</strong></mat-error>
    </mat-form-field>
    <br>
    <br>
    <!-- <h4>Last Name:</h4>
    <input autocomplete="off" type="text" class="txt" name="item" [(ngModel)]="last_name"> -->
    <mat-form-field>
      <input matInput placeholder="Last Name" autocomplete="off" formControlName="last_name">
      <mat-error *ngIf="registerData.get('last_name').hasError('required')">Last Name is <strong>required</strong></mat-error>
    </mat-form-field>
    <br>
    <br>
    <!-- <h4>Email:</h4>
    <input autocomplete="off" type="text" class="txt" name="item" [(ngModel)]="email"> -->
    <mat-form-field>
      <input matInput placeholder="Email" autocomplete="off" formControlName="email">
      <mat-error *ngIf="registerData.get('email').hasError('required')">Email is <strong>required</strong></mat-error>
      <!-- <mat-error *ngIf="registerData.get('email').hasError('email')">Incorrect email format</mat-error> -->
    </mat-form-field>
    </form>
  </div>
  <div class="col">
    <form (ngSubmit)="onRegister()" [formGroup]="registerData">
    <!-- <h4>Username:</h4>
    <input autocomplete="off" type="text" class="txt" name="item" [(ngModel)]="username"> -->
    <mat-form-field>
      <!-- <h4>Username:</h4> -->
      <input matInput placeholder="Username" autocomplete="off" formControlName="username">
      <mat-error *ngIf="registerData.get('username').hasError('required')">Username is <strong>required</strong></mat-error>
    </mat-form-field>
    <br>
    <br>
        <!-- <h4>Password:</h4>
        <input autocomplete="off" type="password" class="txt" name="item" [(ngModel)]="password"> -->
        <mat-form-field>
          <input matInput placeholder="Password" autocomplete="off" type="password" formControlName="password">
          <mat-error *ngIf="registerData.get('password').hasError('required')">Password is <strong>required</strong></mat-error>
          <mat-error *ngIf="registerData.get('password').hasError('minLength')">Password must be 6 characters or more</mat-error>
        </mat-form-field>
        <br>
        <br>
        <!-- <h4>Confirm Password:</h4>
        <input autocomplete="off" type="password" class="txt" name="item" [(ngModel)]="confirmPassword"> -->
        <mat-form-field>
          <input matInput placeholder="Confirm Password" autocomplete="off" type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
          <mat-error *ngIf="registerData.get('confirmPassword').hasError('notSame')">Confirm Password is <strong>required</strong></mat-error>
        </mat-form-field>
        <br>
        <br>
      <div class="button-div">
        <!-- <input type="submit" class="btn" value="Register" (click)="register()"> -->
        <button mat-button mat-raised-button type="submit" class="btn" [disabled]="registerData.invalid || initService.loading">Register</button>
      </div>
    </form>
  </div>
</div>
<div class="container color-light bottom-color-strip">
</div>