{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ChatApp</title>
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="{% static 'media/favicon.png' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'angular-files/styles.82d540a6b83d720d4323.css' %}">
	</head>
	<body>
		<app-root></app-root>
		<script type="text/javascript" src="{% static 'angular-files/runtime.6afe30102d8fe7337431.js' %}"></script>
		<script type="text/javascript" src="{% static 'angular-files/polyfills.aae7a24c00a793062fc8.js' %}"></script>
		<script type="text/javascript" src="{% static 'angular-files/scripts.806effac119676237f10.js' %}"></script>
		<script type="text/javascript" src="{% static 'angular-files/main.a42c6128a51c4b890c55.js' %}"></script>
	</body>
</html>